<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <title>Отзыв</title>
    <script type="text/javascript" src="/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=v5ispRs5nNm7Rkif-4dWMEzHIlb0IDr1P0y4yVO-k9Zqv4NEBUOUpYMOctzbFu-_pgtOt6FUGAnH229M644m4C4GOT-4_wbsUbkekZy9a17r88NkuLx8yt8dykPNhNWGv_-BYAatpN1Pyg1JHk4MdST4i8Rcuv8NXX5rPUEskrJoenrMktWnRLt2xf_ZEHntv1a4BEeVqh1bLCxZiO_ODLbg2AK2M1pRN1oDD23UlFjeRXx_OyQCsa246kd-m1KnKpedNqV5wBjQBsotgbgBoj7EfIl-3YXz5QQYXFXBsmq5gnXeRkZFDxU2e4JP6vtLiHP_hWZehR_gOpO7fWx6nYrhgblMCxeo-Rp2GWFjoC9HQC6DWmoZZiFFNLujG0upQxUM9hVqr9BBcinIvLqHCTkvg6awihTIZAeHK7xvDMp9fDqIPocF91i_mqkFoIidFCTc8whP7JtMOI3uUTHAiW2wfo03HXfFbZhaL73Xz9RRPKM77TtxhlOtnKAGuaaIwElk86lfE6M3nlm_DBv40oex8cF9y5Y63uxOYzWerGvzXp07XBUp-Zy78kRAofuuTqhOXExr6KIzWN5pAPu8-KEOoFltZe-EZY4S2J7NCIpUlcmzE_4wQRmPB5P4QsWEP9FLlSzHt5o-PMI3y7dy5Q" charset="UTF-8"></script></head>
    <body>
        <div class="container-12 mx-auto" style="max-width: 1000px">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="group-form text-center">
                            <h1>
                                Написание отзыва
                            </h1>
                        </div>
                        <div class="group-form my-3">
                            <label for="overallImpression">Общее впечатление (не более 10 Слов)</label>
                            <input required type="text" class="form-control" id="overallImpression" placeholder="Например: Отличная услуга!">
                        </div>
                        <div class="group-form my-3">
                            <label for="pluses">Достоинства</label>
                            <textarea required rows="5" class="form-control" id="pluses"></textarea>
                        </div>
                        <div class="group-form my-3">
                            <label for="minuses">Недостатки</label>
                            <textarea required rows="5" class="form-control" id="minuses"></textarea>
                        </div>
                        <div class="group-form my-3">
                            <label for="comment">Комментарий</label>
                            <textarea required rows="5" class="form-control" id="comment"></textarea>
                        </div>
                        <div class="rating-area">
                            <input type="radio" id="star-5" name="rating" value="5">
                            <label for="star-5"></label>
                            <input type="radio" id="star-4" name="rating" value="4">
                            <label for="star-4"></label>
                            <input type="radio" id="star-3" name="rating" value="3">
                            <label for="star-3"></label>
                            <input type="radio" id="star-2" name="rating" value="2">
                            <label for="star-2"></label>
                            <input type="radio" id="star-1" name="rating" value="1">
                            <label for="star-1"></label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block my-3">
                            Оставить отзыв
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>